# --- Java & Maven ---
target/
*.class
*.log
*.jar
*.war
*.nar
*.ear

# --- Maven Wrapper ---
.mvn/wrapper/maven-wrapper.jar
.mvn/

# --- IDE Specific (IntelliJ, STS, VS Code) ---
.idea/
*.iws
*.iml
*.ipr
.vscode/
.settings/
.classpath
.project
.factorypath
.sts4-cache
.apt_generated

# --- Docker & OS ---
.DS_Store
Thumbs.db
hs_err_pid*
replay_pid*

# --- Project Specific Exceptions ---
HELP.md
!**/src/main/**/target/
!**/src/test/**/target/